{% extends "base.html" %}

{% block content %}
    <div class="grid-container">
        <div class="grid-1-l">
            <p>Great location near Willows Shopping Center.</>
        </div>
        <div class="grid-1-r">
        <img src="/static/img/bakery.jpg" alt="bakery near Willows Shopping Center"></img>
        </div>
        <div class="grid-2">
            <img src="/static/img/about_us_img.jpg" alt="breads"></img>
        </div>
        <div class="grid-3-l">
            <img src="/static/img/baker.jpg" alt="our baker"></img>
        </div>
        <div class="grid-3-r">
            <p>Our baker is an artisan-baker and was trained in Paris.</p>
        </div>
        <div class="grid-4-a">
            <div class="grid-a">
            <p>Some of our current customer:</p>
            </div>
            <div class="grid-b">
                <p>James Cook University</p>
            </div>
            <div class="grid-c">
                <p>The Cowboys</p>
            </div>
            <div class="grid-d">
                <p>Telstra</p>
            </div>
        </div>
    </div>
{% endblock %}