{% extends "base.html" %}

{% block content %}
    <div class="banner">
        <h1>
            PETITE TREATS
        </h1>
    </div>
    <div class="grid-container">
        <div class="grid-1-l">
            <div>
            <p>VIEW THE MENU</p>
            <a href="/product">MENU</a>
            </div>
        </div>
        <div class="grid-1-r">
            <img src="/static/img/bread_home.jpg" alt="berad"></img>
        </div>
        <div class="grid-2">
            <p> 
            "Petite Treats has the best cheesecake I've ever had. Always fresh, and melts in the
                mouth. Would recommend highly!" -Customer A
            </p>
        </div>
        <div class="grid-3-l">
            <img src="/static/img/bread2_home.jpg" alt="bread"></img>
        </div>
        <div class="grid-3-r">
            <div>
            <p>CHECKOUT THE SPECIALS</p>
            <a href="/specials">SPECIALS</a>
            </div>
        </div>
        <div class="grid-4">
            <p>
                "I'm addicted to the Danish pastries and always drop in here on my way to work." -Customer B
            </p>
        </div>
    </div>
{% endblock %}