{% extends "base.html" %}

{% block content %}
    <div class="specials">
        <p>Weekly Specials! 25% off!</p>
    </div>
    <div class="grid-container2">
        <div>
            <div>
                <p>Donuts</p>
                <p><span style="text-decoration:line-through;">$3.50</span>$3.30</p>
                <a href="/donuts">MORE INFO</a>
            </div>
        </div>
        <div>
            <a href="/donuts"><img src="/static/img/Donuts.jpg" alt="Donuts"></img></a>
        </div>
        <div>
            <a href="/vanillaslice"><img src="/static/img/Vanilla Slice.jpg" alt="Vanilla Slice"></img></a>
        </div>
        <div>
            <div>
                <p>Vanilla Slice</p>
                <p><span style="text-decoration:line-through">$3.50</span>$3.30</p>
                <a href="/vanillaslice">MORE INFO</a>
            </div>
        </div>
        <div>
            <div>
                <p>Apple Cake Slice</p>
                <p><span style="text-decoration:line-through">$5.50</span>$4.10</p>
                <a href="/applecake">MORE INFO</a>
            </div>
        </div>
        <div>
            <a href="/applecake"><img src="/static/img/apple cake slice.jpg" alt="Apple Cake Slice"></img></a>
        </div>
    </div>
{% endblock %}