/* ~~ This fixed width container surrounds all other blocks ~~ */

.container {
	width: 100%;
	background-color: #ccb491;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}
.content{
    width:100%;
    margin: -0.5rem;
    position:relative;
    background-color: #ccb491;
}

.bannerimg{
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.petitetreats{
    font-family: 'Fredericka the Great', cursive; 
    font-size:100px;
    color: white;
    position: absolute;
    top:22rem;
    width: 100%;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid_item{
    color:#4b2f18;
    text-align: center;
    padding-top:20rem;
}
.grid_item p{
    font-family: 'Voltaire', sans-serif;
    font-size: 40px;
}
.grid_item a{
    font-family: 'Voltaire', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #4b2f18;
    border-style: solid;
    border-color: #4b2f18;
    border-radius: 0.3rem;
    padding:0.3rem 0.8rem 0.3rem 0.8rem;
    text-align: center;
    
}
.navbar{
    padding:1rem;
    list-style-type: none;
    background-color: #ccb491;
    margin-bottom: -0.2rem;
}
.navbar li{
    font-family: 'Voltaire', sans-serif;
    font-size: 24px;
    display: inline;
}
.navbar li a{
    color:#4b2f18;
    text-decoration: none;
    padding-right: 2rem;
    padding-left: 1rem;
}
.bread{
    width:50%;
    height: auto;
}

.text{
    width: 50%;
    color:#4b2f18;
    text-align: center;
    padding-top:20rem;
    float: left;
}

.text p{
    font-family: 'Voltaire', sans-serif;
    font-size: 40px;
}
.text a{
    font-family: 'Voltaire', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #4b2f18;
    border-style: solid;
    border-color: #4b2f18;
    border-radius: 0.3rem;
    padding:0.3rem 0.8rem 0.3rem 0.8rem;
    text-align: center;
}
.chunk{
    height: 50rem;
    overflow: hidden;
    background-color: #d4cfc8;

}

.comment{
    width: 100%;
    height: 30rem;
    background-color: #ccb491;
    color:#4b2f18;
    overflow: hidden;
}
.comment p{
    text-align: center;
    font-family: 'Voltaire', sans-serif;
    font-size: 24px;
    padding-top: 14rem;
    margin: 0;
}
.comment img{
    width: 100%;
}

.comment ul li{
    text-decoration: none;
    font-family: 'Voltaire', sans-serif;
    font-size: 24px;
    text-align: left;
    margin-left: 45%;
}
.comment h1{
    text-align: center;
    font-family: 'Voltaire', sans-serif;
    font-size: 40px;
    padding-top: 14rem;
    margin: 0;
}
.footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background-color: #ccb491;
}
.footer ul{
    padding-top: 2rem;
    list-style-type: none;
}
.footer ul li{
    text-decoration: none;
    color: #4b2f18;
    display: inline;
    padding-right: 1.5rem;
}
.deco{
    width: 100%;
    height: 15rem;
    overflow: hidden;
}
.deco img{
    width:100%;
}